* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
}
.gray {
    color: #918E9B;
}
.bold {
    font-weight: 600;
}
.nav {
    padding: 22px 30px;
    height: 70px;
    box-shadow: 0px 3px 7.45px rgba(0, 0, 0, 0.10);
}
.hero {
    display: flex;
    flex-direction: column;
}
section {
    padding: 20px;
}
.img-grid {
    align-self: center;
    max-width: 400px;
}
.hero--txt {
    max-width: 320px;
}
.hero--heading {
    margin-top: 32px;
    font-size: 36px;
}
.card--description {
    font-size: 12px;
    line-height: 1.5rem;
}
.card--img-block {
    position: relative;
    border-radius: 9px;
}
.card--label {
    width: 80px;
    height: 20px;
    font-size: 10px;
    background-color: white;
    font-weight: 400;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 6px;
}
